<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<form method="POST" action="/add" enctype="multipart/form-data"
  <label for="name">Event Name:</label>
  <input type="text" name="name" required>

  <label for="date">Event Date:</label>
  <input type="date" name="date" required>

  <label for="location">Event Location:</label>
  <input type="text" name="location" required>

  <label for="description">Event Description:</label>
  <textarea name="description" rows="4" required></textarea>

<!-- Input for image upload -->
  <label for="image">Image:</label>
  <input type="file" name="image">

  <button type="submit">Add Event</button>
</form>

</body>

</html>