<!DOCTYPE html>
<html>
<head>
    <title>Add Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

   <h1 class="appName">Add Events</h1>

<form method="POST" action="/add" class="add-form" enctype="multipart/form-data">
  <label for="name">Event Name:</label>
  <input type="text" name="name" required>
<br>
  <label for="date">Event Date:</label>
  <input type="date" name="date" required>
<br>
  <label for="time">Time:</label>
  <input type="text" id="time" name="time" required>
<br>
  <label for="location">Event Location:</label>
  <input type="text" name="location" required>
<br>
  <label for="description">Event Description:</label>
  <textarea name="description" rows="4" required></textarea>
<br>
  <label for="image">Event Image (optional):</label>
  <input type="file" name="image" accept="image/*">
<br>
  <button type="submit">Add Event</button>
</form>

{{#if errorMessage}}
    <script>
        window.alert("{{errorMessage}}");
    </script>
{{/if}}

</body>
</html>