<!-- FILEPATH: /c:/Users/Hp/OneDrive - nyu.edu/Fall 2023/AIT/final-project-ramshabilal/views/eventDisplay.hbs -->

<div class="event-box">
    <h2>{{event.title}}</h2>
    <p>{{event.description}}</p>
    <p>Date: {{event.date}}</p>
    <p>Location: {{event.location}}</p>
</div>
