<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- Create a table with headers for event name, date, and location -->
<div class="content-container"></div>
<h1 class="appName">Events</h1>
<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr style="background-color:black">
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{location}}</td>
        <td>
          <button class="add-button" onclick="addEvent('{{id}}')">Add</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

</div>
</html>