<!DOCTYPE html>
<html>
<head>
    <title>EventGo!</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- AOS Library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
</head>
<body>
        <header>
            <div class ="nav-bar">
                <img src="/img/logo.png">
                <h3 style="padding:12px; font-size: 20px; font-weight:1000; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    EventGo!
                </h3>
            </div>
        </header>
<div style="text-align:center">
<button> <a href="/" style="text-decoration: none;">Login/Register</a>  </button>
<button> <a href="/events" style="text-decoration: none;">Events</a>  </button>
<button> <a href="/myevents" style="text-decoration: none;">My Events</a>  </button>
<button> <a href="/add" style="text-decoration: none;">Add Event</a> </button>
<button> <a href="/mybookings" style="text-decoration: none;">My Bookings</a> </button>
</div>
        <main>
            {{{body}}} <!-- This is where the content of each page will be inserted -->
        </main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        AOS.init();
    });
</script>

</body>
</html>
