<!DOCTYPE html>
<html>
<head>
    <title>EventGo!</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
        <header>
            <div class ="nav-bar">
                <img src="/img/logo.png">
                <h3 style="padding:12px; font-size: 20px; font-weight:1000; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    EventGo!
                </h3>
            </div>
        </header>

        <main>
            {{{body}}} <!-- This is where the content of each page will be inserted -->
        </main>
</body>
</html>
