<!DOCTYPE html>
<html>
<head>
    <title>Event Trends</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style>
        a {
            text-decoration: none;
            color: white;
        }
        div {
            text-align: center;
            {{!-- margin: 100px; --}}
        }
        .trends {
            padding:40px;   
            background-color: rgb(221, 229, 232);
            margin: 20px;
            color: black; 
            font-weight: 600;
        }
        .trends:hover {
            background-color: rgb(155, 155, 143);
            opacity: 0.5;
        }
    </style>
</head>
<!DOCTYPE html>
<html>
<body>
    <h1 class="appName">Event Trends</h1>
        <div style="margin:100px">
        <a href="/events/trends/popular" class="trends">Popular Events &gt;&gt;</a>
        </div>
        <div style="margin:100px">
        <a href="/events/trends/monthly" class="trends">Monthly Events &gt;&gt;</a>
        </div>
</body>
</html>
