body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(171, 1, 171), rgb(255, 153, 0));
    color: white; 
}

img {
    width: 100px;
    height: 100px;
    padding-right: 0px;
}

button {
    background-color: #ff9900;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 16px; /* 10, 20*/
    font-size: 16px;
    font-weight: 600; /*800*/
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900c3;
    color: ff9900; 

}

.content-container {
    margin: 0 auto;  /* Center the container on the page */
    text-align: left; /* Ensure text alignment is left within the container */
  }

.nav-bar {
    display: flex;
    padding: 20px;
    padding-bottom: 10px;
} 
  
.nav li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: center;
}


.nav a:hover {
    background-color: #ff9900c3;
    color: ff9900; 
}
.nav a {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #ff9900; */
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    border-radius: 10px;
}

.appName {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
}

.event-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 50px 500px 50px 500px;
    border-radius: 10px;
    background-color: lightpink;
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.event-box:hover {
    background-color: #ff9900c3;
    color: ff9900; 
}



/*  for events page   */ 

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: none;
  }

form {
    display: inline-block;
    align-items: center;
    color: white;
    margin: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.add-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}